<!DOCTYPE html>
<html lang="ru">
<body>
<h4>Something went wrong! </h4>
<h4>Our Engineers are on it</h4>
<h1 style="color: red">{{code}}</h1>

<p>{{message}}</p>

<a href="/">Go Home</a>
</body>
</html>