<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit" value="Sign Out" id="signOut">Sign Out</button>
    </form>
</div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label title="text">
            <input type="text" name="text" placeholder="Type message">
        </label>
        <label>
            <input type="text" name="tag" placeholder="Tag">
        </label>
        <button type="submit" value="Send">Send</button>
    </form>
</div>

<div>
    <form method="get" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label>
            <input type="text" name="filter">
        </label>
        <button type="submit" value="Search">Search</button>
    </form>
</div>
<div id="messages">Список сообщений</div>
{{#messages}}
    <div id="{{tag}}">
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}

<p><a href="/">Get greeting</a></p>
</body>
</html>