<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <title>Spring Security Example </title>
</head>
<>
<h1>Регистрация</h1>
<p style="color: red">
    {{#message}}
        {{message}}
    {{/message}}
</p>
<form action="/signup" method="post">
    <div><label><input type="text" name="username" placeholder="Логин"/> </label></div>
    <div><label><input type="password" name="password" placeholder="Пароль"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">

    <div><a href="/login">У меня есть уже есть учетная запись</a></div>
</form>
</body>
</html>